/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
    height: 100%; 
}
 
/* background-attachment does the trick */
.cbp-fbscroller section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
 
#fbsection1 {
    position: relative;
    background-image: url(../imgs/beach-tracks.jpg);
}
 
#fbsection2 {
    position: relative;
    background-image: url(../imgs/coffee.jpg);
}
 
/*#fbsection3 {
    position: relative;
    background-image: url(../imgs/coffee.jpg);
}
 */
#fbsection4 {
    position: relative;
    background-image: url(../imgs/waterr.jpg);
}
 
#fbsection5 {
    position: relative;
    background-image: url(../imgs/window.jpg);
}

#intro {
    text-align: center;
    max-width: 120px;
    color: white;
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    font-size: 60px;
    opacity: 1;
    padding-left: 20px;
    position: relative;
    bottom: 0px;
}

.navbar {
    position: relative;
    background-color: black;
    width: 99%;
    max-height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99;
    border-color: #0099cc;
    border-bottom-style: solid;
}

li {
    display: inline;
    font-family: 'League Gothic','Bebas Neue','Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-color: white;
    text-decoration: none;
    margin: 5px, 5px, 20px, 5px;
}

a {
    color: white;
    margin-left: 10px;
}

a:link {
    text-decoration: none;
    font-color: white;
}

a:link:hover {
    font-color: orange;
}

a:visited {
    font-color: white;
}

a:hover {
    color: orange;
}



.navbar ul {
    list-style-type: none;
	float: right;
    font-size: 24px;
    font-color: white;
    text-decoration: none;
}

#logo {
    position: relative;
    float: left;
    font-weight: bolder;
    height: 70px;
    width: 350px;
    margin-left: 20px;
    font-color: orange;
    font-size: 24px;
}

#logo h1 a {
    color: orange;
    position: absolute;
    top: 5px;
    margin: auto;
    font-family: 'Cinzel', cursive;
}

.title {
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Limelight', cursive;
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: #FF6200;
    color: white;
    bottom: -50px;
    left: 0px;
    border: black, 1px;
    border-color: orange;
    border-bottom-style: solid;
    border-color: orange;
    border-top-style: solid;
}

#title {
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    border: black, 1px;
    font-family: 'Limelight', cursive;
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: #FF6200;
    color: white;
    bottom: 0px;
    left: 0px;
    border-color: orange;
    border-top-style: solid;
}

#about-content {
    position: absolute;
    background-color: black;
    opacity: 0.9;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

p {
    font-family: 'Oxygen', sans-serif;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons {
	padding-right: 30px;
	padding-top: 20px;
	padding-left: 30px;
	float: right;
    display: inline-block;
}

.content {
	position: absolute;
	top: 100px;
}

.cata {
	color: #0099cc;
}

.content-1 {
	position: absolute;
	top: 100px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width: 40%;
	height: auto;
	margin: 0 0 20px 0;
	font-size: 24px;
}

.content-2 {
	position: absolute;
	top: 100px;
	right: 35px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width: 40%;
	height: auto;
	margin: 0 0 20px 0;
	font-size: 24px;
}