body {
	background-image: url("https://raw.githubusercontent.com/aliyeysides/phase-0-unit-1/master/week-1/imgs/_DSC0096.jpg?token=3051125__eyJzY29wZSI6IlJhd0Jsb2I6YWxpeWV5c2lkZXMvcGhhc2UtMC11bml0LTEvbWFzdGVyL3dlZWstMS9pbWdzL19EU0MwMDk2LmpwZyIsImV4cGlyZXMiOjE0MDgyMjIyMzl9--db10eeb68e62a8de954d5444076d351e97d44c90");
	background-size: 100%;
}

#ali {
	position: relative;
	top: 40px;
	left: 20px;
	background-color: black;
	padding-left: 20px;
	padding-right: 30px;
}

#yeysides {
	position: relative;
	bottom: 40px;
	background-color: black;
	padding-left: 25px;
	padding-right: 30px;
	padding-bottom: 15px;
}

p {
	color: white;
}

#intro {
	font-family: 'Lobster', cursive;
	text-align: center;
	max-width: 120px;
	color: white;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	font-size: 60px;
	opacity: 1;
	padding-left: 20px;
}

.icons {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

#description {
	font-size: 12px;
}

#title {
	font-size: 24px;
}

ul {
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.left-nav {
	text-decoration: none;
	padding-right: 10px;
	padding-top: 10px;
	position: relative;
	top: 20px;
	width: 70px;
	height: auto;
	margin-left: -10px;
	margin-top: auto;
	float: left;
	display: block;
}

#left-nav-2 {
	position: relative;
	top: 20px;
	display: block;
	float: left;
	clear: left;
	padding-right: 10px;
	margin-top: auto;
	margin-left: -10px;

}

#left-nav-3 {
	position: relative;
	top: 20px;
	display: block;
	float: left;
	clear: left;
	padding-right: 10px;
	margin-top: auto;
	margin-left: -10px;
}

.content {
	background-color: black;
	position: relative;
	left: 100px;
	top: 30px;
	width: auto;
	/*min-width: 1000px;*/
	margin-right: 125px;
	margin-bottom: auto;
	padding-right: 80px;
	padding-top: 20px;
	padding-left: 80px;
	padding-bottom: 20px;
	opacity: 0.6;	
}

/*background-color: #d1d2d3;
	position:;
	width: 70%;
	height: 550px;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	display: inline-block;
	opacity: 0.8;
}
*/
